@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --primary: #38d16a;
    --secondary: #f54ea2;
    --tertiary: #6185a5;
    --dark: #08071C;
    --amarillo: #f8f9fe;
    --hueso: #d5d5d5;
    --blanco: #fff;
    --blancoAzulado: #7F9CB5;
    --verde: #38d16a;
    --negro: #000;
    --facebook: #4267b2;
    --twitter: #1DA1F2;
    --youtube: #ff0000;
    --pinterest: #E60023;
    --github: #171515;
    --background-color: #fff;
    --text-color: #333;
}

.dark-mode {
    --background-color: #333;
    --text-color: #fff;
}

.theme {
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}


.container {
    max-width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/*Header*/
header {
    padding: 20px 0;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
    margin-left: 30px;
}

header ul li a {
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover {
    color: var(--primary);
    font-weight: 500;
}

.HeaderIcon {
    margin-left: 20px;
    transition: 0.5s;
}

.navbar-items-icon {
    color: #000;
    display: none;
}

.header.active {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--blanco);
    box-shadow: 0 2px 28px 0 rgba(0 0 0 /6%);
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    header .icon {
        display: none;

    }

    .nav-links {
        display: none;
    }

    .nav-links-sidebar {
        position: absolute;
        display: block;
        background-color: var(--blanco);
        left: 50px;
        top: 75px;
        transition: 0.5s;
        width: 100%;
        height: 30vh;
        z-index: 5;
    }

    .nav-links-sidebar {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    header ul li {
        margin-bottom: 30px;
    }

    .navbar-items-icon {
        display: block;
        position: absolute;
        right: 30px;
        color: var(--negro);
        border: 1px solid var(--negro);
        padding: 5px 10px;
    }
}

/*Header*/
/*Home*/
.left, .right {
    width: 50%;
    position: relative;
}

.flex {
    display: flex;
}

.topMargin {
    margin-top: 80px;
}

.home {
    height: 90vh;
}

.home .img {
    height: 90vh;
    width: 100%;
    position: relative;
}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    object-fit: contain;
    transform: scale(1.1);
}

home h1 {
    font-size: 60px;

}

.socialIcon i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.socialIcon i:hover {
    color: var(--blanco);
}

.facebook {
    color: var(--facebook);
    border: 1px solid var(--facebook);
}

.facebook:hover {
    background-color: var(--facebook);
}

.youtube {
    color: var(--youtube);
    border: var(--youtube) 1px solid;
}

.youtube:hover {
    background-color: var(--youtube);
}

.twitter {
    color: var(--twitter);
    border: 1px solid var(--twitter);
}

.twitter:hover {
    background-color: var(--twitter);
}

.pinterest {
    color: var(--pinterest);
    border: 1px solid var(--pinterest);
}

.pinterest:hover {
    background-color: var(--pinterest);
}

.github {
    color: var(--github);
    border: 1px solid var(--github);
}

.github:hover {
    background-color: var(--github);
}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--blanco);
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-switch {
    padding: 15px 40px;
    background: var(--negro);
}

.primary-btn {
    padding: 15px 40px;
    background: var(--primary);
}

.primary-btn:hover {
    background: var(--secondary);
    box-shadow: 0 13px 27px 0 rgb(245 78 162 /25%);
}

.home .right {
    margin-top: 15%;
}

.home .socialIcon {
    margin: 30px 0;
}

.home p {
    margin-bottom: 20px;
}

p {
    color: var(--tertiary);
}

/*Home*/
/*Branding*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.branding {
    background: var(--dark);
    color: var(--blanco);
    margin-top: 35px;
    padding: 80px 0;
}

.branding h1 {
    font-size: 40px;
    color: var(--primary);
    margin-right: 20px;
}

.branding h2 {
    font-weight: 500;
    font-size: 22px;
    margin: 10px 0 20px 0;
}

.branding p {
    color: var(--blanco);
    opacity: 0.7;
}

/*Branding*/
/*About*/
.mtop {
    margin-top: 50px;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary);
    margin: 20px 0;
}

.heading h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.about p {
    margin-bottom: 20px;

}

.about .left {
    padding-right: 30px;
}

.about .img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: 0;
    background-color: var(--negro);
    width: 600px;
    height: 86vh;
    z-index: -1;
}

/*About*/
/*services*/
.services {
    text-align: center;
    background-color: var(--amarillo);
    padding: 50px 0;
}

.services .box {
    text-align: left;
}

.services img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services .text {
    background-color: var(--blanco);
    box-shadow: 0 5px 20px 0 rgba(0 0 0 /6%);
    padding: 30px;
    margin: 20px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

.services .text h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

/*services*/
/*wrapper*/
.wrapper .container {
    max-width: 40%;
    margin: auto;
    text-align: center;
}

.wrapper h2 {
    font-size: 40px;
}

.wrapper p {
    opacity: 1;
    margin-bottom: 30px;
}

/*wrapper*/
/*Skill*/
.skill {
    padding: 50px 0;
}

.skill .HEAD {
    text-align: center;
}

.progress {
    background-color: var(--hueso);
    border-radius: 20px;
    position: relative;
    margin: 45px 0;
    height: 10px;
    width: 90%;
}

.progress h4 {
    position: absolute;
    color: var(--negro);
    top: -30px;
    font-size: 18px;
    font-weight: 500;
}

.progress h4:nth-child(2) {
    right: 0;
    font-size: 17px;
    font-weight: 400;
    color: var(--blancoAzulado);
}

.progress-done {
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--blanco);
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.progress-done:hover {
    background-color: var(--secondary);
}

.skill .right {
    padding: 0 50px;
}

.skill .right h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.skill .right p {
    margin-bottom: 20px;
}

/*Skill*/
/*------------ wrapperOne ----------*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.wrapperOne {
    background: #38d16a;
    text-align: center;
}

.wrapperOne h1 {
    color: #fff;
}

.wrapperOne p {
    font-size: 14px;
    margin: 10px 0;
}

/*------------ wrapperOne ----------*/
/*------------ work ----------*/
.work {
    background-color: var(--dark);
    color: var(--blanco);
    width: 100%;
    text-align: center;
}

.work .heading {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.work .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 20px;
}

.work .content .box {
    position: relative;
    overflow: hidden;
}

.work .content img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.work .content .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.work .content .box:hover:before {
    opacity: 1;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
    position: absolute;
    top: 25%;
    left: 0;
    margin: auto;
    opacity: 0;
}

.overlay h2 {
    font-weight: 500;
}

.work .box:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.work .box::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

/*Work*/
/*Blog*/
.blog .heading {
    text-align: center;
}

.blog .text {
    margin-bottom: 0;
}

.blog span {
    opacity: 0.5;
    font-size: 15px;
}

.blog h2 {
    margin: 20px 0;
}

.blog a {
    color: var(--primary);
    display: block;
    line-height: 20px;
}

.blog a .icon {
    padding-top: 10px;
}

/*Blog*/
/*Footer*/
/*------------ footer ----------*/
footer {
    background-color: var(--negro);
    padding: 100px 0 0 0;
    color: var(--blanco);
    overflow: hidden;
    margin-top: 10px;
}

footer p {
    color: var(--blanco);
    margin: 20px 0;
}

footer .socialIcon i {
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
}

footer h2 {
    margin-bottom: 30px;
    font-size: 20px;
}

footer li {
    color: var(--blanco);
    margin-bottom: 15px;
}

footer li:before {
    content: "·";
    font-size: 40px;
    vertical-align: middle;
    line-height: 10px;
    margin-right: 20px;
    color: #38d16a;
}

footer .box p {
    margin: 0;
    margin-top: 15px;
}

footer span {
    color: var(--primary);
    opacity: 1;
}

footer .icon {
    margin-top: 20px;
    display: flex;
}

footer .icon i {
    color: var(--primary);
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.legal {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 70px;
    padding: 20px 0;
}

/*------------ footer ----------*/
@media screen and (max-width: 768px) {
    /*------------ home ----------*/
    .left,
    .right {
        width: 100%;
    }

    .home .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .home {
        height: 134vh;
    }

    .home .img {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .home img {
        position: relative;
        height: 100%;
        width: 100%;
        transform: scale(1);
    }

    /*------------ home ----------*/
    /*------------ Branding ----------*/
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /*------------ Branding ----------*/
    /*------------ about ----------*/
    .about .container {
        flex-direction: column;
    }

    .about .img {
        width: 100%;
        height: 100%;
    }

    .about img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .about .img::after {
        display: none;
    }

    /*------------ about ----------*/
    /*------------ wrapper ----------*/
    .wrapper .container {
        max-width: 80%;
    }

    /*------------ skill ----------*/
    .skill .content {
        flex-direction: column;
    }

    .skill .right {
        padding: 0 0;
    }

    /*------------ skill ----------*/
    /*------------ work ----------*/
    .work .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /*------------ work ----------*/
    /*------------ footer ----------*/
    footer .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    /*------------ footer ----------*/
}

/*------------ pages ----------*/
.pagesContent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------ pages ----------*/